@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Source+Sans+Pro&family=Zen+Dots&display=swap");

.container {
  color: #2f3640;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-top: 4px;
  text-align: justify;
  background-color: #f1f2f6;
  border-radius: 15px;
  font-size: 1.3rem;

}

.quote {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  text-align: justify;
  background-color: #f1f2f6;
  border-radius: 15px;
  margin-top: 4px;
}

.title {
  font-size: 1.3rem;
  margin: 0px;
  font-weight: 600;
}

.arrow_Icon_rotating {
  animation: rotate-icon 500ms forwards;
}

@keyframes rotate-icon {
  from{
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
