.firstContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin: 1px 0px 0px 0px;
  text-align: justify;
  background-color: #20202033;
  backdrop-filter: blur(5px);
  background-blend-mode: overlay;
}

.secondContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 1px 0px 0px 0px;
  text-align: justify;
  background-color: #20202033;
  backdrop-filter: blur(5px);
  background-blend-mode: overlay;
}
.inputContainer {
  background-color: #00000055;
  width: 340px;
  height: 42px;
  border-radius: 5px;
}
.search,
.search:focus {
  border: none;
  width: 310px;
  height: 42px;
  font-size: 1.4rem;
  background-color: #00000000;
  border-radius: 5px;
  outline: none;
  text-indent: 10px;
}

.searchIcon {
  margin-left: 15px;
}

.filter {
  font-size: 1.4rem;
  padding: 6px 15px;
  border-radius: 5px;
  margin: 0px 5px;
  transition: 250ms;
  font-weight: bold;
  border: 1px solid #383838;
}

.filter_selected {
  font-size: 1.4rem;
  padding: 6px 15px;
  border-radius: 5px;
  margin: 0px 5px;
  font-weight: bold;
  transition: 250ms;
  background-color: #0070f3;
  border: 1px solid #0070f3;
}

.filter_selected:hover,
.filter:hover {
  cursor: pointer;
}
