.firstContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 20px 15px 20px;
  margin-top: 4px;
  text-align: justify;
  border-radius: 15px;
  background-color: #f1f2f6;
  backdrop-filter: blur(5px);
  background-blend-mode: overlay;
  z-index: 1;
}

.secondContainer {
  z-index: -1;
  display: flex;
  align-items: center;
  margin-top: 4px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 20px 15px 20px;
  border-radius: 15px;
  text-align: justify;
  background-color: #f1f2f6;
  backdrop-filter: blur(5px);
  background-blend-mode: overlay;
}

.third_container {
  font-size: 1.4rem;
  margin-top: 4px;
  text-align: center;
  padding: 5px 20px 0px 20px;
  border-radius: 15px;
}

.just_number {
  margin: 5px 0px;
}

.inputContainer {
  color: #2f3640;
  background-color: #ffffff;
  width: 310px;
  height: 42px;
  border-radius: 10px;
}
.search,
.search:focus {
  border: none;
  width: 280px;
  height: 42px;
  font-size: 1.4rem;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
  text-indent: 10px;
}

.searchIcon {
  position: absolute;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 5px;
}

.filter {
  color: #2f3640;
  width: 80px;
  padding: 10px 0px;
  text-align: center;
  font-size: 1.4rem;
  transition: 250ms;
  font-weight: 550;
  background-color: #ffffff;
  border-right: 2px solid #f1f2f6;
}

.secondContainer_filter {
  display: flex;
  align-items: center;
  margin-top: 4px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 20px 15px 20px;
  border-radius: 15px;
  text-align: justify;
  background-color: #f1f2f6;
  backdrop-filter: blur(5px);
  background-blend-mode: overlay;
}

.main_filter {
  color: #2f3640;
  width: 80px;
  padding: 10px 7px;
  text-align: center;
  font-size: 1.4rem;
  transition: 250ms;
  font-weight: 550;
  background-color: #ffffff;
  border-right: 2px solid #f1f2f6;
}

.secondContainer span:first-child {
  width: 65px;
  border-radius: 10px 0px 0px 10px;
}

.secondContainer span:last-child {
  border-radius: 0px 10px 10px 0px;
}

.secondContainer_filter span:first-child {
  border-radius: 10px 0px 0px 10px;
}

.secondContainer_filter span:last-child {
  width: 170px;
  border-radius: 0px 10px 10px 0px;
}

.filter_selected {
  color: #ffffff;
  width: 80px;
  padding: 10px 0px;
  text-align: center;
  font-size: 1.4rem;
  transition: 250ms;
  font-weight: bold;
  background-color: #40407a;
}

.main_filter_selected {
  color: #ffffff;
  width: 80px;
  padding: 10px 7px;
  text-align: center;
  font-size: 1.4rem;
  transition: 250ms;
  font-weight: bold;
  background-color: #40407a;
}

.filter:hover,
.main_filter:hover {
  cursor: pointer;
}

.auto_fill {
  position: absolute;
  width: 310px;
  height: 150px;
  position: relative;
  background-color: red;
  border-radius: 15px;
  z-index: 3;
}

@media (max-width: 375px) {
  .inputContainer {
    scale: 0.9;
  }

  .searchIcon {
    margin-left: -20px;
  }

  .search{
    font-size: 1.1rem;
  }
  .main_filter_selected,
  .main_filter, .filter, .filter_selected {
    width: 58px;
    font-size: 1.1rem;
  }

  .secondContainer_filter span:last-child {
    width: 120px;
    font-size: 1.1rem;
    border-radius: 0px 10px 10px 0px;
  }
}
