.container {
  color: #40407a;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-top: 4px;
  background-color: #f1f2f6;
  border-radius: 15px;
}

.quote {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  text-align: justify;
  background-color: #f1f2f6;
  backdrop-filter: blur(5px);
  background-blend-mode: overlay;
  border-radius: 15px;
  margin-top: 4px;
}

.container p {
  margin: 0px;
}

.arrow_Icon_flashing {
  animation: flashing 1500ms infinite;
}

.arrow_Icon_rotating {
  color: #ff3f34;
  animation: rotate-icon 500ms forwards;
}

.title {
  color: #ff3f34;
}

@keyframes flashing {
  0% {
    color: #ff3f34;
  }

  50% {
    color: #f1f2f6;
  }

  100% {
    color: #ff3f34;
  }
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
