.container {
  color: #40407a;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-top: 4px;
  background-color: var(--container-bg-color);
  border-radius: 15px;
}

.quote {
  color: var(--fg-white-color);
  font-size: 1.2rem;
  padding: 15px 20px;
  text-align: justify;
  background-color: var(--container-bg-color);
  border-radius: 15px;
  margin-top: 4px;
}

.container p {
  margin: 0px;
}

.container:hover {
  cursor: pointer;
}

.arrow_Icon_flashing {
  animation: flashing 1500ms infinite;
}

.arrow_Icon_rotating {
  color: #ff3f34;
  animation: rotate-icon 500ms forwards;
}

.title {
  color: #ff3f34;
}

.wants_title {
  display: block;
  text-transform: uppercase;
}

/* What is going on in Iran */
.is_not {
  color: #ff3f34;
}
.iran {
  color: black;
  background-color: white;
  border-top: 2px solid #2ecc71;
  border-bottom: 2px solid #e74c3c;
  padding: 0px 20px;
}

.terrorist {
  display: block;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.iranian {
  display: block;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.what_is {
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.section_one,
.section_one_second {
  padding: 5px;
  border-left: 2px solid #ff3f34;
  border-radius: 0px 5px 5px 0px;
  margin-left: 1px;
}

.section_one_second {
  line-height: 20px;
  text-align: left;
}

.section_four {
  padding: 2px 5px 2px 5px;
  border-left: 2px solid #ff3f34;
  border-radius: 0px 5px 5px 0px;
  margin-left: 1px;
}

.section_second {
  padding: 5px 5px 5px 0px;
}

.section_three {
  padding: 5px 5px 5px 0px;
}

@keyframes flashing {
  0% {
    color: #f1f2f6;
  }

  25% {
    color: #e74c3c;
  }
  50% {
    color: #e74c3c;
  }
  75% {
    color: #e74c3c;
  }

  100% {
    color: #f1f2f6;
  }
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
