.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  min-height: 500px;
  margin-top: 4px;
  text-align: justify;
  background-color: #ffffff;
  border-radius: 15px;
}

.card {
  width: 350px;
  height: fit-content;
  padding: 25px 25px 0px 25px;
  background-color: #f1f2f6;
  font-size: 1.4rem;
  border-radius: 20px;
  margin-bottom: 20px;
  color: #2f3640;
}

.full_name {
  width: fit-content;
  padding: 0px 10px;
  margin: 25px auto 10px auto;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  text-shadow: 0px 0px 10px rgb(180, 180, 180);
  box-shadow: 0px 0px 10px rgb(180, 180, 180);
  background-color: white;
  border-top: 2px solid #2ecc71;
  border-bottom: 2px solid #e74c3c;
}

.age,
.gender,
.city,
.be_my_voice {
  padding: 1px 0px;
  font-size: 1.4rem;
  margin: 7px 0px;
  text-indent: 5px;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgb(180, 180, 180);
}

.be_my_voice {
  text-shadow: 0px 0px 10px #ffdbd7;
  animation: shareLink 2s infinite;
}

.cardImage {
  width: 300px;
  height: 300px;
  border-radius: 70px 15px 15px 15px;
  background-color: #ff060600;
  box-shadow: rgb(107, 107, 107) 0px 10px 30px -8px;
}

.martyrImage {
  border-radius: 70px 15px 15px 15px;
}

.heart {
  position: absolute;
  margin-left: -38px;
  margin-top: -20px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.martyrImage_No_Heart {
  border-radius: 15px 15px 15px 15px;
}

.no_found {
  font-size: 1.4rem;
}

.show_more {
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  color: #2f3640;
  font-size: 1.4rem;
  background-color: #f1f2f6;
  border-radius: 50px;
  transition: 200ms;
}

.show_more:hover {
  cursor: pointer;
  background-color: #05103a;
  color: #f1f2f6;
  transition: 200ms;
}

@keyframes shareLink {
  0% {
    color: #f1f2f6;
  }

  50% {
    color: #e74c3c;
  }

  100% {
    color: #f1f2f6;
  }
}

@media (max-width: 375px) {
  .card {
    scale: 0.8;
    margin: 0px;
  }
}
