.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  min-height: 500px;
  margin-top: 4px;
  text-align: justify;
  background-color: #ffffff;
  border-radius: 15px;
}

.card {
  width: 350px;
  height: 480px;
  padding: 25px;
  background-color: #f1f2f6;
  font-size: 1.4rem;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #2f3640;
}

.full_name {
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 600;
}

.age,
.gender,
.city {
  font-size: 14px;
  margin: 15px 3px;
  text-indent: 10px;
  border-left: 2px dotted #2f3640;
  font-weight: 600;
}
.cardImage {
  width: 300px;
  height: 280px;
box-shadow: rgb(38, 57, 77) 0px 15px 30px -8px;
}

.martyrImage {
  border-radius: 5px 70px 5px 5px;
}

.heart {
  position: absolute;
  margin-left: 250px;
  margin-top: -23px;
}

.no_found {
  font-size: 1.4rem;
}
