.container {
  font-size: 1.4rem;
  height: fit-content;
  padding: 10px 10px 10px 20px;
  margin-top: 4px;
  background-color: #f1f2f6;
  color: #2f3640;
  border-radius: 15px;
}

.report_title {
  color: #2f3640;
  font-size: 1.4rem;
  font-weight: 550;
}
.report {
  color: #2f3640;
  margin-left: 1px;
  border-left: 3px solid #EE5A24;
  text-indent: 3px;
  padding: 0px 5px;
}
