.container {
  font-size: 1.4rem;
  height: fit-content;
  padding: 15px 10px 15px 20px;
  margin-top: 4px;
  background-color: #f1f2f6;
  color: #2f3640;
  border-radius: 15px;
}

.report_title {
  color: #2f3640;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2px 0px 10px 0px;
}
.report {
  font-size: 1.25rem;
  min-width: 310px;
  color: #2f3640;
  border-left: 3px solid #0a3d62;
  padding: 2px 4px;
  margin: 5px 0px 2px 0px;
}

.note {
  background-color: #fff6edce;
  margin: 0px 15px 0px 1px;
  font-size: 1.2rem;
  border-left: 3px solid #f0932b;
  text-align: justify;
  padding: 10px 10px 10px 5px;
  border-radius: 0px 5px 5px 0px;
}

.contact_me {
  display: block;
  margin-top: 5px;
  animation: shareLink 2s infinite;
}

@keyframes shareLink {
  0% {
    color: #b7e7ff;
  }

  25% {
    color: #00a8ff;
  }

  50% {
    color: #00a8ff;
  }

  75% {
    color: #00a8ff;
  }

  100% {
    color: #b7e7ff;
  }
}
