.container {
  height: fit-content;
  padding: 15px 10px 15px 20px;
  margin-top: 4px;
  border-radius: 15px;
  color: var(--fg-white-color);
  background-color: var(--container-bg-color);
}

.report_title {
  width: fit-content;
  color: var(--fg-report-title-color);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1.5px dashed var(--fg-report-second-title-color);
}

.report_title_date {
  width: fit-content;
  color: var(--fg-report-second-title-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: -6px 0px 5px 0px;
  padding-bottom: 5px;
}

.year {
  font-size: 1.5rem;
}

.report {
  font-size: 1.3rem;
  min-width: 310px;
  color: var(--fg-white-color);
  border-left: 2px solid var(--report-left-border-color);
  padding: 0px 4px;
  margin: 5px 0px 4px 1px;
}

.note {
  background-color: var(--note-bg-color);
  margin: 0px 10px 0px 1px;
  font-size: 1.2rem;
  border-left: 3px solid #f0932b;
  text-align: justify;
  padding: 10px 10px 10px 5px;
  border-radius: 0px 5px 5px 0px;
}

.contact_me {
  display: block;
  margin-top: 5px;
  animation: shareLink 2s infinite;
}

@keyframes shareLink {
  0% {
    color: #b7e7ff;
  }

  25% {
    color: #00a8ff;
  }

  50% {
    color: #00a8ff;
  }

  75% {
    color: #00a8ff;
  }

  100% {
    color: #b7e7ff;
  }
}
