.container {
  height: 250px;
  background-color: #f1f2f6;
  background-blend-mode: overlay;
  border-radius: 15px;
}

.view {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: flex-end;
  border-top-right-radius: 15px;
}

.quantity {
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.farvahar {
  height: 100%;
  width: 100%;
}
